@charset "UTF-8";

body{
    background-color: aliceblue;
}

.box{
    height: 100px;
    width: 100px;
    margin-bottom: 8px;
    border: 2px solid black;
}
.box:hover{
    background-color: yellow;
}
.box1{
    background-color: blue;
    position: absolute;
    left: 5px; /*eixo x*/
    top: 5px; /*eixo y*/
    z-index: 4;  /*eixo z, camadas*/
}

.box2{
    background-color: red;
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 3;
}

.box3{
    background-color: green;
    position: absolute;
    left: 15px;
    top: 15px;
    z-index: 10;
}