@charset "UTF-8";

body{
    background-color: aliceblue;
}

.box{
    height: 100px;
    width: 100px;
    margin-bottom: 8px;
    border: 2px solid black;
}
.box:hover{
    background-color: yellow;
}
.box1{
    background-color: blue;
    position: relative;
    left: 500px;
    top: 80px;
}

.box2{
    background-color: red;
}

.box3{
    background-color: green;
}